.dashboard {
    background-color: #161C21;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.dashboard * {
    transition: 0.5s;
}

.dashboard aside:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 80px;
    position: static;
}

.dashboard aside:first-child #logout {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.dashboard aside:first-child > a {
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.dashboard aside:first-child #menu-close {
    display: none;
}

.dashboard aside:first-child > a img {
    width: 100%;
}

.dashboard aside:first-child ul li a {
    fill: white;
    padding: 15px 20px;
    display: inline-grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.dashboard aside:first-child ul li a.active {
    fill: turquoise;
    background-color: #1f272f75;
}


.dashboard aside:last-child {
    background-color: #1F272F;
    border-radius: 30px 0px 0px 30px;
    width: 350px;
}

@media screen and (max-width: 1100px) {
    .dashboard aside:last-child {
        position: fixed;
        top: 0;
        right: -100%;
    }
}

@media screen and (max-width: 650px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .dashboard aside:first-child {
        position: fixed;
        top: 0;
        left: 0%;
        background-color: #161C21;
        width: 100%;
        height: 100%;
    }

    .dashboard aside:first-child #menu-close {
        display: inline-grid;
        place-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #fff1;
    }

    .dashboard aside:first-child > a img {
        width: 70px;
    }

    .dashboard aside:first-child ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        list-style: none;
        gap: 20px;
    }

    .dashboard aside:first-child ul li {
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
    }

    .dashboard aside:first-child ul li a {
        background-color: #1F272F;
    }
}